/*main page */

body{
    background-color: powderblue;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}

.eating{ 
    width: 700px;
    height: auto;
    border: 2px solid goldenrod;
}

/*recipe pages */

.recipeimage{
    box-sizing: border-box;
    object-fit: cover;
    width: 500px;
    height: 500px;
    margin: 20px;
    border: 2px solid goldenrod;
}

.ingredients, .steps{
    display: inline-block;
    text-align: left;
}

li{
 padding-bottom: 10px;   
}

.container{
    display: flex;
}

.img-and-ing{
    display: flex;
    flex-direction: column;
}

.steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}